@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
.btnHeader {
  color: hsl(192, 100%, 9%);
  background-color: white;
}
.btnHeader:hover {
  color: hsl(208, 11%, 55%);
  opacity: 0.5;
}

button {
  font-size: 10px;
  border: none;
  padding: 15px 60px;
  box-shadow: 0px 1px 5px hsl(208, 11%, 55%);
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  transition: opacity 0.3s ease;
}
button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.background__img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0px;
  top: 0;
  left: 0;
  background-color: hsl(193, 100%, 96%);
  object-fit: cover;
}

.header {
  position: relative;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 30px 0px;
}

.mainRight {
  flex: 1;
}
.mainRight img {
  max-width: 100%;
  object-fit: contain;
}

.mainLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  max-width: 45%;
  padding: 50px 20px 50px 0px;
  flex: 1;
}
.mainLeft__title {
  padding: 0px 20px 10px 0px;
}
.mainLeft__text {
  padding: 10px 0px;
}
.mainLeft__button {
  justify-content: center;
}

.header__main {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header {
    padding: 25px 20px;
  }
  .header__nav {
    justify-content: space-between;
    margin: 0px 0px 30px 0px;
  }
  .header__main {
    align-items: center;
    flex-direction: column;
  }
  .mainLeft {
    align-items: center;
    text-align: center;
    max-width: 80%;
  }
  .mainLeft__text {
    padding: 20px 0px;
  }
}
.card img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 1px 5px hsl(208, 11%, 55%);
  padding: 20px;
  margin: 45px 70px;
}
.card__left {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    flex-wrap: wrap-reverse;
    margin: 20px 15px;
  }
  .card__invert {
    flex-direction: column;
  }
  .card__left {
    text-align: center;
    align-content: center;
  }
  .card__left--title {
    padding: 10px 0;
  }
}
.beforeFooter {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid hsl(208, 11%, 55%);
  border-radius: 15px;
  box-shadow: 0px 1px 5px hsl(208, 11%, 55%);
  text-align: center;
}
.beforeFooter p {
  padding-bottom: 15px;
}

.footer {
  color: hsl(193, 100%, 96%);
  position: relative;
  padding-top: 100px;
  background-color: hsl(192, 100%, 9%);
  margin-top: 175px;
}
.footer__logo {
  padding-left: 45px;
  margin-bottom: 20px;
}
.footer__logo--img {
  width: 110px;
}
.footer__contact {
  display: flex;
  justify-content: space-around;
}

.footer li {
  padding-bottom: 20px;
}

.footerLeft {
  display: flex;
  max-width: 40%;
}
.footerLeft li {
  display: flex;
  align-items: flex-start;
  padding: 5px;
}
.footerLeft li img {
  padding-right: 15px;
}

ul li {
  list-style: none;
}

.footer__contact--reseau {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__contact--reseau i {
  width: 16px;
  height: 16px;
  padding: 10px;
  margin: 8px;
  border: 1px solid hsl(193, 100%, 96%);
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__contact--reseau i:hover {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}

@media (max-width: 768px) {
  .beforeFooter {
    width: 85%;
    top: -15%;
    padding: 35px 20px;
  }
  .footer {
    margin-top: 200px;
  }
  .footer__logo--img {
    width: 175px;
  }
  .footer__contact {
    flex-direction: column;
  }
  .footer__contact--reseau {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
  }
  .footerLeft {
    max-width: 90%;
    margin-bottom: 30px;
  }
  .footerLeft li {
    padding: 10px 0;
  }
}
* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

body,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}